/node_modules
/.idea
bower_components
.idea
doc
jsDataSet.sln
jsDataSet.njsproj
bin/Microsoft.NodejsTools.WebRole.dll
.vs/jsDataSet/v14/.suo
.vs/config/applicationhost.config
.ntvs_analysis.dat
obj/Debug/jsDataSet.njsproj.FileListAbsolute.txt
obj/Debug/jsDataSet.njsprojResolveAssemblyReference.cache